.card {
    border:1px solid transparent;
    &-img{
        height: 196px;

    }
    .badge {
        left:20px;
        top: -16px;
    }
}

.card-img-top {
    width: 96px;
   
}


.teacher-intro-swiper {
    .swiper-slide {
        // border: 1px solid rgb(98, 0, 255);
    }
    // border: 1px solid red;
    // height: 418px;
    // .card {
    //     @include media-breakpoint-up(md) {
    //         height: 418px;
    //       }
    // }

  
}
