.course_intro--py{
    padding-top: 48px;
    padding-bottom: 88px;
    @include media-breakpoint-up(md) {
        padding-top: 64px;
        padding-bottom: 80px;
      }
      @include media-breakpoint-up(lg) {
        padding-bottom: 113px;
      }
}

.course_intro_main--pb {
    padding-bottom: 48px;
    @include media-breakpoint-up(md) {
        padding-bottom: 72px;
      }    
}

.course_intro_img  { 
    height: 218px;
    @include media-breakpoint-up(md) {
        height: 369px;
      }
    @include media-breakpoint-up(lg) {
        height: 345px;
      }
   
}

.teacher__intro {
  padding-top: 54px;
  padding-bottom: 88px;
    @include media-breakpoint-up(md) {
        padding-bottom: 80px;
      }
    @include media-breakpoint-up(lg) {
        padding-bottom: 64px;
      }
}






