//------banner---------
.banner{
  background-image: url(../images/hero/Banner.jpeg);
  height: 560px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  h2{
    margin-top: 10px;
  }
  @include media-breakpoint-up(md){
    height: 582px;
  }
}


// .index__h1 {
//   color:#00cc99;
//   font-size: 20px;
//   font-weight: 400;
// }
//感受身心 起點
.impact1{
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1593810450967-f9c42742e326.jpeg?raw=true);
  height: 420px;
  width: 345px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include pad{
    height: 252px;
    width: 210px;
  }
  @include pc{
    height: 420px;
  width: 350px;
  }
}

.impact2{
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1593810451137-5dc55105dace.jpeg?raw=true);
  height: 420px;
  width: 345px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include pad{
    height: 252px;
    width: 210px;
  }
  @include pc{
    height: 420px;
    width: 350px;
  }
}

.impact3{
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg?raw=true);
  height: 420px;
  width: 345px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include pad{
    height: 252px;
    width: 210px;
  }
  @include pc{
    height: 420px;
    width: 350px;
  }
}
.titleimpact{
  color: #fff;
  font-weight: normal;
}
.textimpact{
  color: #fff;
  font-size: $font-size-base;
  font-weight: normal;
}
//感受身心 終點
// 頂尖師資 起點~~~
.top-teachers {
  padding: 32px 0 32px 0;
  &-img {
    display: none;
    max-height: 628px;
    border-radius: $border-radius-xl;
    @include pc {
      width: 50%;
      display: block;
      object-fit: cover;
    }
  }
}

.top-teachers-main {
  @include pc {
    padding-top: 30px;
    padding-left: 30px;
    width: 50%;
  }
  h1 {
    margin-bottom: 4px;
    color: $secondary;
    font-size: 28px;
    @include pc {
      font-size: 28px;
    }
  }
  p {
    margin-bottom: 24px;
    color: $primary;
    font-size: 20px;
    @include pad {
      width: 450px;
    }
    @include pc {
      font-size: 16px;
      width: 100%;
    }
  }
}
.top-teachers-header {
  margin-bottom: 0;
  @include pad {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include pc {
    align-items: flex-start;
  }
}

.top-teachers-container {
  @include pc {
    display: flex;
  }
}

.top-teachers-cards {
  display: flex;
  flex-direction: column;
  @include pad {
    align-items: flex-end;
  }
  &-one,
  &-others {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    ul {
      margin-bottom: 0;
    }
    img {
      max-width: 48px;
      max-height: 48px;
      margin-right: 16px;
    }
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}

@include pad {
  .top-teachers-cards-one {
    width: 630px;
    padding: 40px 52px 40px 48px;
    img {
      max-width: 94px;
      max-height: 94px;
    }
  }
  .top-teachers-cards-others {
    img {
      max-width: 68px;
      max-height: 68px;
    }
    padding: 24px 0 24px 32px;
    width: 540px;
  }
}

@include pc {
  .top-teachers-cards-one {
    width: 118%;
  }
  .top-teachers-cards-others {
    width: 100%;
  }
}

.top-teachers-cards-one-list {
  h1 {
    text-align: left;
    margin-bottom: 4px;
    color: $dark;
    font-size: 20px;
  }
  p {
    color: $dark;
    font-size: 16px;
    margin-bottom: 4px;
  }
}

// 頂尖師資 終點~~~

//舒適空間 

.nice-space-text {
  @include media-breakpoint-up(lg) {
    padding: 145px 0px !important;
  }
}


//舒適空間 end

// multi-lessons

.multi-lessons {
  @include media-breakpoint-down(md) {
    padding: map-get($spacers, 9) 0;
  }
}

// multi-lessons end


//方案選擇 起點~~~
.plan-choose-img {
  .img-fluid {
    object-fit: cover;
  }
}


// 聽聽他們怎麼說 
.customer-response {
  padding-bottom: 96px;
  .card {
    display: flex;
  }
}

.swiper-button-next{
  &::after{
    content: "\f1df";
    font-family: "Material Icons";
    position: absolute;
    top: 280px;
    right: 5px; 
  }
}


.swiper-button-prev{
  &::after{
    content: "\f1e6";
    font-family: "Material Icons";
    position: absolute;
    top: 280px;
    left: 5px;
  }
}

// 聽聽他們怎麼說 end
