.textsub{
   color: #fff;
   font-size:$h5-font-size ;
   font-weight: normal;

}
.l-epadding{
    padding-left: 15px;
    padding-right: 15px;
    @include pad{
        padding-left: 39px;
        padding-right: 39px;
      }
      @include pc{
        padding-left: 85px;
        padding-right: 85px;
      }
}

.textfunct{
   color: #fff;
   font-size:$font-size-base;
   font-weight: lighter;
}
.iconsns-s{
    height: 24px;
    width: 24px;
}
.logo{
    height: 31px;
    width: 96px;
}
.ms-ipad-pc{
    @include pad{
        margin-left: 178px;
      }
      @include pc{
        margin-left: 388px;
      }
   
}

.radius-own{
    border-radius:$border-radius-xl;
}