.reserve__form {
   padding-top: 48px;
   padding-bottom: 88px;
   &__question {
      outline: 1px solid red;
   }
 
}

form {
   outline: 1px solid rgb(89, 0, 255);
}

.input__me-12 {
   margin-right: 12px;
}

.input__me-28 {
   margin-right: 28px;
}

.input__me-46 {
   margin-right: 46px;
}

