@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "../../../node_modules/bootstrap/scss/utilities";
@import "./helpers/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";

@import "helpers/base";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import './layout/_index.scss';
@import 'vendor/swiper';