@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "../../../node_modules/bootstrap/scss/utilities";
@import "./helpers/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";

@import "helpers/base";
@import "./component/progressbar";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');



@import './vendor/datepicker';
@import '../../../node_modules/vanillajs-datepicker/sass/datepicker.scss';

@import './layout/_index.scss';
@import './layout/_reserve_form';
@import './layout/reserve_finish';

@import './layout/_layout.scss';
@import './layout/reservation';


@import 'vendor/swiper';

