*, *::before, *::after{
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  @mixin pad {
    @media (min-width:768px) {
        @content;
    }
  }
  
  @mixin pc {
    @media (min-width:1200px) {
        @content;
    }
  }